<launch>

  <!-- Transformation Configuration ... Setting Up the Relationships Between Coordinate Frames -->
  <!-- odom to base_footprint transform provided by the robot_pose_ekf node -->
  <!-- map to odom provided here. Needed by AMCL node -->

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map_to_odom" args="0 0 0 0 0 0 1 map odom" />

  <!-- Map File -->
  <arg name="map_file" default="$(find robot_nav)/maps/housemap.yaml"/>
	
  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
	
  <!-- Add AMCL example for differential drive robots for Localization -->
  <!-- Subscribe: /scan, /tf, /initialpose, /map -->
  <!-- Publish: /amcl_pose, /particlecloud, /tf -->
  <include file="$(find amcl)/examples/amcl_diff.launch"/>
	
  <!-- Move Base Node -->
  <!-- Subscribe: /move_base_simple/goal -->
  <!-- Publish: /cmd_vel -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find robot_nav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_nav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_nav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_nav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_nav)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find robot_nav)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find robot_nav)/param/global_planner_params.yaml" command="load" />
    <rosparam file="$(find robot_nav)/param/navfn_global_planner_params.yaml" command="load" />

  </node>

</launch>
